<body id="adopt-page">
    <div class="container">
        <div ="adgth-text">
            <h1 class="center">All Dogs Go to Houses</h1>
            <h4>Every dog deserves a home <br>and every adopter a great match </h4>
            <h5>Find your ideal pet match</h5>
        </div>

        <form id="search-form">        
            <h6 id="preferences">Preferences</h6>
            <select id="size" class="browser-default select-adopt">
                <option value="" disabled selected>Size</option>
                <option value="0">No Preference</option>
                <option value="1">Small</option>
                <option value="2">Medium</option>
                <option value="3">Large</option>
            </select>
            <select id="gender" class="browser-default select-adopt">
                <option value="" disabled selected>Gender</option>
                <option value="0">No Preference</option>
                <option value="" disabled selected>Gender</option>
                <option value="1">Male</option>
                <option value="2">Male (Neutered)</option>
                <option value="3">Female</option>
                <option value="4">Female (Spayed)</option>
            </select>
            <select id="age" class="browser-default select-adopt">
                <option value="" disabled selected>Age</option>
                <option value="0">No Preference</option>
                <option value="1">Under 1 Year</option>
                <option value="2">Over 1 Year</option>
            </select>
            <select id="activity_level"class="browser-default select-adopt">
                <option value="" disabled selected>Activity</option>
                <option value="0">No Preference</option>
                <option value="1">Let's Go Running</option>
                <option value="2">Playful</option>
                <option value="3">Couch Potato</option>
            </select>

            <button id="fetch" class="btn"><a href="results.html"><i class="fas fa-paw"></i> Fetch </button></a>
        </form> 
    </div>
</body>
