<body id="faves-page">
    <div class="container">
        <div ="adgth-text" >
            <h1 class="center">Favorite Dogs</h1>
            <a class="waves-effect waves-light btn test-btn mobile-hide" id="add-fave" >Add Dog to Favorites</a>
        </div>
        <div id="results">
            <div class="row">
                <div id="faves-holder"></div>
            </div>
        </div>
    </div>
</body>