<body id="main">
    <div class="container">
        <div id="adgth-text" class="center">
            <h1>All Dogs Go to Houses</h1>
            <h4>Every dog deserves a home <br>and every adopter a great match </h4>
            <h5>Find your ideal pet match</h5>
        </div>
        <div class="wrapper">
            <div>
                <a href="/adopter"><img class= "img-link" src="assets/imgs/adopt-dog.jpg" alt="dog"></a>
            </div>
            <div>
                <a href="/shelter"><img class= "img-link" src="assets/imgs/shelter-home.jpeg" alt="dog"></a>
            </div>
        </div>
    </div>    
</div>
</body>