<body id="results-page">
    <div class="container ">
        <h1 class="center" id="search-results">Search Results</h1>
        <span class="col s1 push-s5 mobile-hide">
                <a class="waves-effect waves-light btn test-btn" id="dog-result" >Show Results</a></span>

        <!-- Results Div -->
        <div class="center valign">
            <div class="row">
                <div class="carousel carousel-slider">
                    <a class="carousel-item s8" href="#one!"><div class="dog-holder"></div></a>
                    <a class="carousel-item s8" href="#two!"> <div class="dog-holder"></div></a>
                    <a class="carousel-item s8" href="#three!"><div class="dog-holder"></div></a>
                    <a class="carousel-item s8" href="#four!"> <div class="dog-holder"></div></a>
                </div>
            </div>    
        </div>
</body>

